<p id="notice"><%= notice %></p>

<h1><%= @generation.world.name %>, <%= time_ago_in_words @generation.created_at %> ago</h1>
<h2><%= @generation.created_at %></h2>

<table class="trade-select-table" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tons Available</th>
      <th>Purchase Price</th>
      <th>Sale Price</th>
    </tr>
  </thead>
  <tbody>
    <% @generation.result.each do |line| %>
      <tr>
        <td><%= line['name'] %></td>
        <td><%= number_with_delimiter line['tons'] %></td>
        <td><%= number_with_delimiter line['purchase'] %></td>
        <td><%= number_with_delimiter line['sale'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>
