<%= form_with(model: good, local: true) do |form| %>
  <% if good.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(good.errors.count, "error") %> prohibited this good from being saved:</h2>

      <ul>
        <% good.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tons %>
    <%= form.number_field :tons %>
  </div>

  <div class="field">
    <%= form.label :base_price %>
    <%= form.number_field :base_price %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.number_field :result %>
  </div>

  <div class="field">
    <%= form.label :purchase_price %>
    <%= form.number_field :purchase_price %>%
  </div>

  <div class="field">
    <%= form.label :sale_price %>
    <%= form.number_field :sale_price %>%
  </div>

  <div class="field">
    <table class="trade-select-table">
      <thead>
        <tr>
          <th></th>
          <% trade_classes_str.each do |c| %>
            <th><%= c %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="fixed">Availability</th>
          <% trade_classes_sym.each do |c| %>
              <td><%= form.check_box :"available_#{c}" %></td>
            <% end %>
        </tr>
        <tr>
          <th>Purchase DM</th>
          <% trade_classes_sym.each do |c| %>
              <td><%= form.number_field :"purchase_dm_#{c}" %></td>
            <% end %>
        </tr>
        <tr>
          <th>Sale DM</th>
          <% trade_classes_sym.each do |c| %>
              <td><%= form.number_field :"sale_dm_#{c}" %></td>
            <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
