<p id="notice"><%= notice %></p>

<h1>Goods</h1>

<table class="goods-table" border="1">
  <thead>
    <tr>
      <th colspan="3"></th>
      <th colspan="18">Available</th>
      <th colspan="18">Purchase DM</th>
      <th colspan="18">Sale DM</th>
    </tr>
    <tr>
      <th class="name">Name</th>
      <th>Tons</th>
      <th>Base Price</th>

      <% 3.times.each do %>
        <% trade_classes_str.each do |c| %>
          <th class="fixed"><%= c %></th>
        <% end %>
      <% end %>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td class="name"><%= good.name %></td>
        <td><%= number_with_delimiter good.tons %></td>
        <td><%= number_with_delimiter good.base_price %></td>

        <% trade_classes_sym.each do |c| %>
          <td class="fixed"><%= yes_no_emoji good.send(:"available_#{c}") %></td>
        <% end %>

        <% trade_classes_sym.each do |c| %>
          <td class="fixed"><%= empty_if_zero good.send(:"purchase_dm_#{c}") %></td>
        <% end %>

        <% trade_classes_sym.each do |c| %>
          <td class="fixed"><%= empty_if_zero good.send(:"sale_dm_#{c}") %></td>
        <% end %>

        <td><%= link_to 'Show', good %></td>
        <td><%= link_to 'Edit', edit_good_path(good) %></td>
        <td><%= link_to 'Destroy', good, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Good', new_good_path %>
<%= link_to 'Back', root_path %>
